@charset "utf-8";

header, footer, section, nav, article{  
    display: block;  
}

BODY {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffe6;
	margin:0;
	padding:0;
	/* reset the default styles */
}

	h1, h2, h3, .headerli {
		color:#25936D;
		font-weight:normal;
	}
	div h1, h2{
		text-align: center;
	}
	.bg-white{
		background-color: #ffffff;
	}

	* {
		box-sizing: border-box;
	}
	.col-md-4, .col-md-8, .col-md-6 {
		padding-left: 30px;
		padding-right: 30px;
	}

/*back to top button*/
	#myBtn {
	  display: none;
	  position: fixed;
	  bottom: 120px;
	  right: 70px;
	  z-index: 100;
	  border: none;
	  outline: none;
	  padding: 0;
      margin: 0;
	  cursor: pointer;
	  border-radius: 20%;
	}

/* Header */
	#header {
		background-color: #ffffe6;
		box-shadow: 0 5px 5px rgb(217, 217, 217, 0.8);
	}	
	.headerli{
		font-size: 16px; 
		padding: 0px 30px;
	}		
	.headerli:hover {
		color: #d9d9d9;
		text-decoration: none;
	}

/*background setup. All execpt Header*/
	#wrapper{
		position: relative;
	}
	.container {
		padding: 100px 2% 30px 2%;
	}

	@media (min-width: 1200px){
		.container{
		    max-width: 960px;
		}
	}

/* Profile */
	#background-profile{
		background: url("images/backgroundPhoto.jpg") no-repeat center center fixed;
		-webkit-background-size: 100%; 
    	-moz-background-size: 100%; 
    	-o-background-size: 100%; 
    	background-size: 100%;
    	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/backgroundPhoto.jpg', sizingMethod='scale')";
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/backgroundPhoto.jpg', sizingMethod='scale');
	}
	#profile {
		padding-top: 150px;
		position:relative;
		background-color: #ffffff;
	}
	
	#profile img{
		border-radius: 20%;
		margin-left: 15%;
		margin-top: 30px;
		margin-bottom: 30px;
		
	}
	#profile h1{
		margin-bottom: 50px;
	}

/* Skills*/
	ul.no-bullets {
	    list-style: none;
	    margin-left: 0px;
	    padding-left: 1em;
	    text-indent: -1em;
	}
	.listsymbol:before{
		content:"-";
	}
	#projectbtn{
		background-color: #25936D;
	    color:#ffffff;
		text-decoration: none;
		padding:5px 20px;
		border-radius: 5px;
	    display: inline-block;
	}

/*Experience*/
	.font1 {
		font-size:13px;
		color:gray;
	}
	.font2{
		font-size: 13px;
	}
	.float{
		float:right;
		color:#25936D;
		text-decoration: none;
	}
	.float img {
		height: 16px;
		padding-right: 5px;
	}
	.weblink {
		color:#25936D;
		text-decoration: none;
		}		
	.weblink:hover {
		color: #d9d9d9;
	}
	.linkicon {
		height: 16px;
		padding-left: 5px;
	}

/*Contact*/
	.btnSend{
		font-size: 16px;
		color:#ffffff;
		width: 100%;
		background-color:#434242;
		margin-bottom: 20px;
	}
	img.left{
		margin-right: 5%;
	}
	#contact{
		padding-bottom: 100px;
	}
	.form-row{
		margin-bottom: 15px;
	}

/*Footer*/
	.background-gray{
		background-color: #434242;
		color:#ffffff;
	}
		
















